.paddingBadge {
  margin-right: .5rem;
  margin-left: .5rem;
 }

 #button-edge{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

 .paddingReqBadge{
  margin-left: .5rem;
  padding-bottom: .1rem;
 }

 
 .indent{
   margin-left: .5rem;
 }

 .indentMembers{
  margin-left: 1rem;
}

#card{
  margin: .3rem;

}

#cardtext{
  
}

.addSpaceRight{
  margin-right: 1rem;
}

 .cardTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 /* .requestbtn{
  padding-top:.2rem;
  padding-right:.4rem;
  padding-left: .6rem;
  padding-bottom: .1rem;
  font-size: large;
 } */

 .textsmaller{
  font-size: medium;
  text-align: right;
 }

 .sendReqTrial{
  display:flex;
  align-items: center;
 }
 
 
 div {
   word-wrap: break-word;
 }
 
 
 .positionButton {
   display: flex;
   margin-top: 3rem;
 }

 .Underline{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-right: 1rem;
  padding-top: 0.6rem;
  border-top: 0.1rem solid white;
 }

 .JustUnderline{

  border-bottom: 0.1rem solid white;
 }
 
 .id-line{
  margin-top: 0.5rem;
   display:flex;
   flex-wrap: wrap;
   word-wrap: break-word;
   word-break: break-all;
 }
 
 p {
   word-wrap: break-word;
 }
 